.cell {
    border-style: solid;
    width: 150px;
    height: 150px;
}
.row {
    display: flex;
}
.grid-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.hovered {
    background-color: black;
}